#fob {
  position: absolute;
  bottom: 50px;
  right: 10rem;
}

.key-image {
  width: 200px;
  z-index: 1;
}

.btn {
  z-index: 10;
  position: absolute;
}

.btn-side {
  width: 50px;
  height: 120px;
}

.btn-left {
  left: 0;
}

.btn-right {
  right: 0;
}

.btn-top {
  width: 80px;
  height: 100px;
  left: 60px;
}

.btn-circle {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  z-index: 100;
  left: 73px;
  top: 33px;
}

.screen {
  position: absolute;
  width: 130px;
  height: 185px;
  z-index: -1;
  background-color: rgba(20, 20, 20, 1);
  bottom: 50px;
  left: 33px;
}

.screen-page {
  z-index: 10;
  margin: 0 auto;
  max-width: 110px;
  max-height: 175px;
  width: 110px;
  height: 185px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  align-content: center;
  bottom: 55px;
  left: 44px;
}

.window {
  z-index: 5;
  color: white;
  padding: 7px;
}

.window-image {
  width: 40px;
}
